<h1>
	This is the Secret page
</h1>

<p>
	You found me
</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDD6BU0BkHotP_M0L7rCWx-Qj1jt58ZxtiEJRRzLDERU2CO2YE&usqp=CAU">


<li><a href="/logout">Logout</a></li>