<%- include ("./partials/header") %>

<div class="container">
	<h1 style="text-align: center">
		Login Page
	</h1>

	<form action="/login" method="POST">
		<div style="text-align: center; margin: 20px">
			<input type="text" name="username" placeholder="Username">
		</div>
		<div style="text-align: center; margin: 20px">
			<input type="password" name="password" placeholder="Password">
		</div>
		<div style="text-align: center; margin: 20px">
			<button type="submit">
				Login
			</button>
		</div>
		
		
	</form>
</div>

<%- include ("./partials/footer") %>