		<h1>
			Friends page
</h1>

<% friends.forEach(function(friend) { %>
	<li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
	<input type="text" placeholder="name" name="newFriend">
	<button>
		Make a new friend
	</button>
</form>